* {
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  align-self: center;
  border: 2px dotted black;
}

body,
.page-header,
.subtitle-header,
.completion-header {
  display: grid;
}

body {
  width: 100dvw;
  height: 100dvh;
  grid-template-columns: 1fr 9fr;
  grid-template-rows: 1fr 4fr 2rem;
}

header {
  width: 100%;
  height: 100%;
  grid-row: 1;
  grid-column: 2;
  border-color: red;
}

#content {
  width: 100%;
  height: 100%;
}

#side-nav {
  width: 100%;
  height: 100%;
  grid-row: span 2;
  grid-column: 1;
  border-color: yellow;
}

footer {
  grid-column: span 2;
  border-color: blue;
}

.page-header {
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 3fr;
}

.title-header {
  grid-row: 1;
  grid-column: span 2;
}

.header > .priority-container {
  grid-row: 2;
  grid-column: 1;
}

.subtitle-header,
.completion-header {
  grid-template-columns: repeat(2, 1fr);
}